body {
  /* margin: 0; */
  font-size: 4rem;
  font-family: sans-serif;
  background-color: #1d1818;
}

.flex-container {
  background-color: #404040;
  border-radius: 10px;
  border: solid 2px yellow;
}

.flex-container > * {
  padding: 10px;
  margin: 10px;
  border: solid 1px black;
  border-radius: 10px;
  background: #f18c55;
}

.flex-container {
  height: 500px;
  display: flex;
  /* flex-direction: row;
  flex-wrap: nowrap; */
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  /* align-content: space-around; */
}

.one {
  /* align-self: center;
  order: 5; */
  height: 100px;
  width: 200px;
  flex: initial; /* 0 1 auto */
  flex: auto; /* 1 1 auto */
  flex: none; /* 0 0 auto */
  flex: 1; /* 1 1 0 */
}

.two {
  height: 100px;
  width: 200px;
  flex: auto;
  flex: 2;
}

.three {
  height: 100px;
  width: 200px;
  flex: 1;
}
